* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.app {
    min-height: 100vh;
}
body {
    font-family: 'Sue Ellen Francisco', cursive;
    background: radial-gradient(#77acf1, #04009a);
}
